#
# secure element driver configuration
#

config NXP_P73v2_DEVICES
	tristate "Nxp P73 secure element protocol driver (SPI) devices"
	depends on SPI && NFC_SN2X0_DEVICES
	help
	  This enables the Secure Element driver for SNxxx based devices.

	  If unsure, say N.

	  This selects Secure Element support.

	  If you want NFC support, you should say Y here and
	  also to your specific host controller driver.

